body {
    background-image: url("../imgs/sky_background.jpg");
    background-size: cover;
    color: #ffffff;
}
.box {
    float: left;
    width: 100%;
    background-color: #b2c0c995;
    margin: 15px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #d9d9d9;
    position: relative;
}
.box .desc {
    margin-top: 15px;
}
.box .img {
    position: absolute;
    right: 15px;
    bottom: 20px;
}